@import '../Styles/colors.css';

/* --------------------------------------------------------------------------------------- */
/* Styling /////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------- */

footer {
    height: 50px;
    display: grid;
    place-items: center;
    border-top: 1px solid var(--windows-dark-gray);
    background: var(--windows-background);
}

footer a {
    font-size: 70%;
    text-decoration: none;
    color: var(--windows-blue);
}
