@import '../Styles/colors.css';

/* --------------------------------------------------------------------------------------- */
/* Styling /////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------- */

header {
    color: var(--windows-white);
    background: var(--windows-light-blue);
    display: flex;
}

header a {
    text-decoration: none;
}

header a img {
    filter: invert(1);
    margin-left: 10px;
}

header a h1 {
    color: var(--windows-white);
    margin-left: 10px;
    font-size: 200%;
}

header a:hover,
header a:active {
    color: var(--windows-light-blue);
}

header div.login {
    flex: 1;
    margin-right: 0.5rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
