@import '../Styles/colors.css';

/* --------------------------------------------------------------------------------------- */
/* Styling /////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------- */

nav {
    display: flex;
    overflow: hidden;
    background-color: var(--windows-light-gray);
}

.navItem.signIn {
    margin-left: auto;
}

nav div.navItem {
    padding: 10px;
}

nav div.navItem:hover {
    background-color: var(--windows-light-blue);
}

nav div.navItem a {
    color: var(--windows-black);
    text-decoration: none;
}

nav div.navItem a.navSelected {
    color: var(--windows-blue);
}
