/* --------------------------------------------------------------------------------------- */
/* Styling /////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------- */

nav {
    display: flex;
    overflow: hidden;
    background-color: #edafb8;
}

.navItem.signIn {
    margin-left: auto;
}

nav div.navItem {
    padding: 10px;
}

nav div.navItem:hover {
    background-color: #f4cdd3;
}

nav div.navItem a {
    color: white;
    text-decoration: none;
}

nav div.navItem a.navSelected {
    color: black;
}
