@import '../Styles/colors';

/* --------------------------------------------------------------------------------------- */
/* Styling /////////////////////////////////////////////////////////////////////////////// */
/* --------------------------------------------------------------------------------------- */

nav {
    display: flex;
    overflow: hidden;
    background-color: $windows-light-gray;
}

.navItem.signIn {
    margin-left: auto;
}

nav div.navItem {
    padding: 10px;
}

nav div.navItem:hover {
    background-color: $windows-light-blue;
}

nav div.navItem a {
    color: $windows-black;
    text-decoration: none;
}

nav div.navItem a.navSelected {
    color: $windows-blue;
}
