/* colors.scss */

$windows-background: #c3c3c3; /* Light gray */
$windows-dark-gray: #808080; /* Dark gray */
$windows-light-gray: #d4d0c8; /* Lighter gray */
$windows-blue: #0000ff; /* Blue */
$windows-light-blue: #3399ff; /* Light blue */
$windows-green: #008000; /* Green */
$windows-red: #ff0000; /* Red */
$windows-yellow: #ffff00; /* Yellow */
$windows-white: #ffffff; /* White */
$windows-black: #000000; /* Black */
