// -----------------------------------------------
// Imports ///////////////////////////////////////
// -----------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

// -----------------------------------------------
// Default styling ///////////////////////////////
// -----------------------------------------------

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// -----------------------------------------------
// Colours ///////////////////////////////////////
// -----------------------------------------------

$Jet: #161616; // #323232;
$Charcoal: #2d2d2d; // Dark gray
$Red: #e81123; // Red
$LightRed: lighten($Red, 5%);
$DarkRed: darken($Red, 20%);
$Green: #00a300; // Green
$DarkGreen: darken($Green, 10%);
$Blue: #0078d7; // Blue
$DarkBlue: darken($Blue, 10%);
$Yellow: #ffb900; // Yellow
$DarkYellow: darken($Yellow, 10%);
$Purple: #5c2d91; // Purple
$DarkPurple: darken($Purple, 20%);

$ThemeColor: #0078d7; // Blue
$ThemeColors: (
    0: $Charcoal,
    1: $ThemeColor,
    2: lighten($ThemeColor, 10%),
    3: lighten($ThemeColor, 20%),
    4: lighten($ThemeColor, 30%),
    5: lighten($ThemeColor, 40%),
    6: lighten($ThemeColor, 50%),
    7: lighten($ThemeColor, 57%),
    8: lighten($ThemeColor, 64%),
    9: lighten($ThemeColor, 71%),
    10: lighten($ThemeColor, 78%),
    11: lighten($ThemeColor, 84%),
    12: #ffffff,
    // White
);

@function GetThemeColor($level) {
    @return map-get($ThemeColors, $level);
}

// -----------------------------------------------
// Layout Colours ////////////////////////////////
// -----------------------------------------------

$PageBackgroundColor: White;
$HeaderBackgroundColor: GetThemeColor(2);
$NavbarBackgroundColor: $Green;
$NavbarHoverBackgroundColor: lighten($NavbarBackgroundColor, 15%);
$LayoutBackgroundColor: WhiteSmoke;
$FooterBackgroundColor: GetThemeColor(3);
